Importing the libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import re

C:\Users\asus\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Importing the Dataset

In [3]:
df=pd.read_csv('https://raw.githubusercontent.com/gitganeshnethi/Datasets/refs/heads/master/store_data.csv',
              header=None)

Data Analysis

In [4]:
#show the top 5 datapoint of DataFrame 
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#show the bottom 5 datapoint of DataFrame
df.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Get unique values from entire DataFrame 
unique_values = df.stack().unique()
print(unique_values)

['shrimp' 'almonds' 'avocado' 'vegetables mix' 'green grapes'
 'whole weat flour' 'yams' 'cottage cheese' 'energy drink' 'tomato juice'
 'low fat yogurt' 'green tea' 'honey' 'salad' 'mineral water' 'salmon'
 'antioxydant juice' 'frozen smoothie' 'spinach' 'olive oil' 'burgers'
 'meatballs' 'eggs' 'chutney' 'turkey' 'milk' 'energy bar'
 'whole wheat rice' 'whole wheat pasta' 'french fries' 'soup'
 'light cream' 'shallot' 'frozen vegetables' 'spaghetti' 'pet food'
 'cookies' 'cooking oil' 'champagne' 'chocolate' 'chicken' 'oil'
 'fresh tuna' 'tomatoes' 'black tea' 'extra dark chocolate' 'protein bar'
 'red wine' 'pasta' 'pepper' 'shampoo' 'rice' 'sparkling water' 'ham'
 'body spray' 'pancakes' 'grated cheese' 'white wine' 'toothpaste'
 'parmesan cheese' 'fresh bread' 'ground beef' 'escalope' 'herb & pepper'
 'tomato sauce' 'magazines' 'strawberries' 'strong cheese' 'pickles'
 'cake' 'hot dogs' 'brownies' 'cereals' 'clothes accessories' 'bug spray'
 'muffins' 'light mayo' 'gums' 'soda' 'cider' 'corn' 'yogurt cake' 'mint'
 'butter' 'asparagus' 'french wine' 'salt' 'tea' 'barbecue sauce'
 'mayonnaise' 'zucchini' 'carrots' 'mushroom cream sauce' 'candy bars'
 'chili' 'mashed potato' 'nonfat milk' 'water spray' 'chocolate bread'
 'mint green tea' 'eggplant' 'blueberries' 'bacon' 'fromage blanc'
 'gluten free bar' 'dessert wine' 'flax seed' 'hand protein bar'
 'sandwich' 'babies food' 'melons' 'cauliflower' 'green beans' 'ketchup'
 'bramble' 'burger sauce' 'oatmeal' ' asparagus' 'cream' 'napkins']

In [7]:
#checking the length of unique_value
len(unique_values)

120

Eclat implementation

In [8]:
#installation of pyECLAT library 
!pip install pyECLAT

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyECLAT in c:\users\asus\appdata\roaming\python\python311\site-packages (1.0.2)
Requirement already satisfied: pandas>=0.25.3 in c:\users\asus\appdata\roaming\python\python311\site-packages (from pyECLAT) (2.2.3)
Requirement already satisfied: numpy>=1.17.4 in c:\users\asus\appdata\roaming\python\python311\site-packages (from pyECLAT) (1.26.4)
Requirement already satisfied: tqdm>=4.41.1 in c:\programdata\anaconda3\lib\site-packages (from pyECLAT) (4.65.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2023.3)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm>=4.41.1->pyECLAT) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->pyECLAT) (1.16.0)

In [9]:
from pyECLAT import ECLAT

In [10]:
#create an eclat instance 
eclat_instance=ECLAT(data=df,verbose=True)

100%|████████████████████████████████████████████████████████████████████████████████| 120/120 [00:01<00:00, 65.40it/s]
100%|██████████████████████████████████████████████████████████████████████████████| 120/120 [00:00<00:00, 2227.73it/s]
100%|██████████████████████████████████████████████████████████████████████████████| 120/120 [00:00<00:00, 1821.25it/s]

In [11]:
#generate a binary dataframe, that can be used for other analyzes.
eclat_instance.df_bin

,oatmeal,turkey,asparagus,soup,energy bar,gums,cereals,spaghetti,spinach,herb & pepper,...,zucchini,pancakes,blueberries,cottage cheese,bug spray,green beans,milk,magazines,melons,butter
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
#a list of all columns of df_bin
eclat_instance.df_bin.columns

Index(['oatmeal', 'turkey', 'asparagus', 'soup', 'energy bar', 'gums',
       'cereals', 'spaghetti', 'spinach', 'herb & pepper',
       ...
       'zucchini', 'pancakes', 'blueberries', 'cottage cheese', 'bug spray',
       'green beans', 'milk', 'magazines', 'melons', 'butter'],
      dtype='object', length=120)

In [13]:
#a list with all the names of the different items
eclat_instance.uniq_

['oatmeal',
 'turkey',
 'asparagus',
 'soup',
 'energy bar',
 'gums',
 'cereals',
 'spaghetti',
 'spinach',
 'herb & pepper',
 'tomatoes',
 'corn',
 'fresh tuna',
 'whole wheat rice',
 'brownies',
 'mint green tea',
 'hand protein bar',
 'french wine',
 'green tea',
 'dessert wine',
 'cauliflower',
 'candy bars',
 'mineral water',
 'salad',
 'burgers',
 'soda',
 'vegetables mix',
 'mashed potato',
 'almonds',
 'avocado',
 'mayonnaise',
 'pepper',
 ' asparagus',
 'salmon',
 'low fat yogurt',
 'eggs',
 'honey',
 'shampoo',
 'cookies',
 'frozen smoothie',
 'olive oil',
 'mint',
 'flax seed',
 nan,
 'barbecue sauce',
 'black tea',
 'water spray',
 'energy drink',
 'chili',
 'green grapes',
 'ketchup',
 'shallot',
 'extra dark chocolate',
 'chutney',
 'parmesan cheese',
 'yogurt cake',
 'mushroom cream sauce',
 'tea',
 'ground beef',
 'escalope',
 'strong cheese',
 'eggplant',
 'ham',
 'red wine',
 'gluten free bar',
 'body spray',
 'sandwich',
 'salt',
 'cider',
 'napkins',
 'whole wheat pasta',
 'tomato sauce',
 'cream',
 'carrots',
 'white wine',
 'meatballs',
 'protein bar',
 'french fries',
 'cooking oil',
 'fresh bread',
 'clothes accessories',
 'grated cheese',
 'burger sauce',
 'tomato juice',
 'strawberries',
 'chocolate',
 'bacon',
 'frozen vegetables',
 'oil',
 'chicken',
 'nonfat milk',
 'pet food',
 'pasta',
 'rice',
 'sparkling water',
 'cake',
 'whole weat flour',
 'hot dogs',
 'antioxydant juice',
 'bramble',
 'muffins',
 'babies food',
 'yams',
 'toothpaste',
 'fromage blanc',
 'shrimp',
 'pickles',
 'champagne',
 'chocolate bread',
 'light mayo',
 'light cream',
 'zucchini',
 'pancakes',
 'blueberries',
 'cottage cheese',
 'bug spray',
 'green beans',
 'milk',
 'magazines',
 'melons',
 'butter']

In [14]:
#length of all the names of the different items
len(eclat_instance.uniq_)

121

In [15]:
get_ECLAT_indexes, get_ECLAT_supports = eclat_instance.fit_all(min_support=0.02,
                                                          separator=' & ',
                                                           verbose=True)

Combination 1 by 1

53it [00:03, 15.43it/s]

Combination 2 by 2

1378it [00:45, 30.57it/s]

Combination 3 by 3

23426it [16:13, 24.07it/s]

Stopping in combination 3 by 3. All supports = 0.

In [1]:
#get_ECLAT_indexes

In [17]:
get_ECLAT_supports

{'turkey': 0.06252499666711105,
 'soup': 0.05052659645380616,
 'energy bar': 0.027063058258898813,
 'cereals': 0.025729902679642713,
 'spaghetti': 0.17411011865084655,
 'herb & pepper': 0.04946007199040128,
 'tomatoes': 0.06839088121583789,
 'fresh tuna': 0.022263698173576856,
 'whole wheat rice': 0.058525529929342755,
 'brownies': 0.03372883615517931,
 'french wine': 0.022530329289428077,
 'green tea': 0.13211571790427942,
 'mineral water': 0.23836821757099053,
 'burgers': 0.0871883748833489,
 'vegetables mix': 0.025729902679642713,
 'almonds': 0.020397280362618318,
 'avocado': 0.03332888948140248,
 'pepper': 0.026529796027196375,
 'salmon': 0.04252766297826956,
 'low fat yogurt': 0.07652313024930009,
 'eggs': 0.17970937208372217,
 'honey': 0.047460338621517134,
 'cookies': 0.08038928142914278,
 'frozen smoothie': 0.06332489001466471,
 'olive oil': 0.0658578856152513,
 'energy drink': 0.026663111585121985,
 'yogurt cake': 0.027329689374750034,
 'ground beef': 0.09825356619117451,
 'escalope': 0.0793227569657379,
 'ham': 0.026529796027196375,
 'red wine': 0.028129582722303693,
 'whole wheat pasta': 0.029462738301559793,
 'meatballs': 0.020930542594320756,
 'french fries': 0.1709105452606319,
 'cooking oil': 0.0510598586855086,
 'fresh bread': 0.043060925209972005,
 'grated cheese': 0.0523930142647647,
 'tomato juice': 0.030395947207039063,
 'strawberries': 0.021330489268097587,
 'chocolate': 0.1638448206905746,
 'frozen vegetables': 0.09532062391681109,
 'oil': 0.023063591521130515,
 'chicken': 0.05999200106652446,
 'cake': 0.08105585921877083,
 'hot dogs': 0.03239568057592321,
 'muffins': 0.024130115984535395,
 'shrimp': 0.07145713904812692,
 'champagne': 0.04679376083188908,
 'light mayo': 0.027196373816824423,
 'pancakes': 0.09505399280095987,
 'cottage cheese': 0.03186241834422077,
 'milk': 0.12958272230369283,
 'butter': 0.030129316091187842,
 'soup & mineral water': 0.023063591521130515,
 'spaghetti & tomatoes': 0.020930542594320756,
 'spaghetti & green tea': 0.026529796027196375,
 'spaghetti & mineral water': 0.05972536995067324,
 'spaghetti & burgers': 0.021463804826023197,
 'spaghetti & eggs': 0.036528462871617116,
 'spaghetti & olive oil': 0.022930275963204905,
 'spaghetti & ground beef': 0.03919477403012932,
 'spaghetti & french fries': 0.027596320490601255,
 'spaghetti & chocolate': 0.03919477403012932,
 'spaghetti & frozen vegetables': 0.027862951606452472,
 'spaghetti & shrimp': 0.021197173710171976,
 'spaghetti & pancakes': 0.025196640447940274,
 'spaghetti & milk': 0.03546193840821224,
 'tomatoes & mineral water': 0.024396747100386616,
 'whole wheat rice & mineral water': 0.020130649246767097,
 'green tea & mineral water': 0.03106252499666711,
 'green tea & eggs': 0.025463271563791495,
 'green tea & french fries': 0.028529529396080524,
 'green tea & chocolate': 0.023463538194907346,
 'mineral water & burgers': 0.024396747100386616,
 'mineral water & low fat yogurt': 0.023996800426609784,
 'mineral water & eggs': 0.05092654312758299,
 'mineral water & frozen smoothie': 0.020263964804692707,
 'mineral water & olive oil': 0.027596320490601255,
 'mineral water & ground beef': 0.040927876283162246,
 'mineral water & french fries': 0.03372883615517931,
 'mineral water & cooking oil': 0.020130649246767097,
 'mineral water & chocolate': 0.05265964538061592,
 'mineral water & frozen vegetables': 0.03572856952406346,
 'mineral water & chicken': 0.022796960405279298,
 'mineral water & cake': 0.027463004932675644,
 'mineral water & shrimp': 0.023596853752832957,
 'mineral water & pancakes': 0.03372883615517931,
 'mineral water & milk': 0.04799360085321957,
 'burgers & eggs': 0.02879616051193174,
 'burgers & french fries': 0.021997067057725635,
 'eggs & french fries': 0.036395147313691506,
 'eggs & chocolate': 0.03319557392347687,
 'eggs & frozen vegetables': 0.021730435941874418,
 'eggs & pancakes': 0.021730435941874418,
 'eggs & milk': 0.03079589388081589,
 'ground beef & chocolate': 0.023063591521130515,
 'ground beef & milk': 0.021997067057725635,
 'french fries & chocolate': 0.03439541394480736,
 'french fries & pancakes': 0.020130649246767097,
 'french fries & milk': 0.023730169310758567,
 'chocolate & frozen vegetables': 0.022930275963204905,
 'chocolate & milk': 0.03212904946007199,
 'frozen vegetables & milk': 0.023596853752832957}

In [18]:
help(eclat_instance.fit)

Help on method fit in module pyECLAT.pyECLAT:

fit(min_support=0.08, min_combination=1, max_combination=3, separator=' & ', verbose=True) method of pyECLAT.pyECLAT.ECLAT instance
    Return a dictionary. The key is the feature and value is support. A high number of
    combinations (greater than three) can take a long time to finish.


    Arguments
    ---------------------
    min_support
        Must be 'None' to return all features and supports or 'Float' to filter features by support
    min_combination
        Minimal combination of attributes
    max_combination
        Maximum combination of attributes
    separator
        Separator for the output dictionary key. Just to organize. default = ' & '
    verbose
        `True` to enable the loading bar.

In [19]:
help(eclat_instance.fit_all)

Help on method fit_all in module pyECLAT.pyECLAT:

fit_all(min_support=0.08, separator=' & ', verbose=False, min_combination=1) method of pyECLAT.pyECLAT.ECLAT instance
    Return a dictionary. The key is the feature and value is support.
    This algorithm works with all possible permutations (without repetitions)
    until the all supports = 0.

    Arguments
    ---------------------
    min_support
        Must be 'None' to return all features and supports or 'Float' to filter features by support
    separator
        Separator for the output dictionary key. Just to organize. default = ' & '
    verbose
        `True` to enables the loading bar.

In [20]:

help(eclat_instance.support)

Help on method support in module pyECLAT.pyECLAT:

support(min_support=None) method of pyECLAT.pyECLAT.ECLAT instance
    Return a dictionary. The key is the feature and value is support

    Arguments
    ---------------------
    min_support
        Must be 'None' to return all features and supports or 'Float' to filter features by support